.mini-footer {
    display: block;
    padding: 35px 55px;
    background-color: #0d0d0d;
}

.text-section {
    display: none;
}

.logo-footer {
    display: block;
    margin: 0 auto 20px;
    width: 122px;
    height: 28px;
    background-image: url(https://prod0-kraken-cloudfront.rakuten.tv/images/logos/rktv-grey-eae681a197.svg);
    background-size: contain;
    background-position: center center;
}

.bottom-section {
    text-align: center;
}

.buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    margin-left: 15px;
    padding: 3px 0;
    color: #ccc;
    font-size: 14px;
    text-decoration: none;
    text-transform: lowercase;
    transition: color .1s ease;
    will-change: color;
}
.copyright {
    display: block;
    margin-top: 10px;
    margin-left: 0;
    color: #737373;
    text-transform: initial;
    width: 100%;
}

@media (min-width: 1025px) {
    .text-section {
        display: block;
        padding: 25px;
        text-align: center;
        background-color: #212121;
    }

    .first-text h2 {
        margin-top: 15px;
        color: #fff;
        font-size: 22px;
        text-align: center;
    }

    .first-text p {
        margin: 10px auto 20px;
        width: 50%;
        color: #ccc;
        font-size: 14px;
        text-align: center;
        line-height: 160%;
    }

    .second-text a {
        display: inline-block;
        padding: 90px 15px 25px;
        width: 30%;
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 180px 90px;
        text-decoration: none;
    }

    .devices {
        background-image: url(https://prod2-kraken-cloudfront.rakuten.tv/images/footer/howitworks-555729f452.svg);
    }

    .payment {
        background-image: url(https://prod2-kraken-cloudfront.rakuten.tv/images/footer/payments-ec797a77da.svg);
    }

    .help {
        background-image: url(https://prod1-kraken-cloudfront.rakuten.tv/images/footer/support-cd17a5040b.svg);
    }

    .bottom-section {
        display: block;
        text-align: left;
    }

    .bottom-section p {
        margin-top: 15px;
        margin-left: 0;
    }

    .first-line {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        text-align: center;
    }

    .logo-footer {
        background-position: center left;
        margin: 0;

    }


}
