
.container-section {
    margin: 10px 0 20px 0;
}

.title-bar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.arrow-button {
    color: white;
    display: flex;
    justify-content: space-between;
}

.genre-back-bg, .genre-forward-bg {
    position: absolute;
    height: 175px;
    width: 80px;
    z-index: 99;
}

.genre-back-bg {
    left: 0;
    background: linear-gradient(to right, rgba(23, 23, 23, .95) 0, transparent 100%);
}

.genre-forward-bg {
    right: 0;
    background: linear-gradient(to left, rgba(23, 23, 23, .95) 0, transparent 100%);
}

.genre-back, .genre-forward {
    color: white;
    align-self: center;
    position: absolute;
    font-size: 40px;
    z-index: 100;
    cursor: pointer;
}

.genre-back {
    left: 0;
    padding-left: 20px;
}

.genre-forward {
    right: 0;
    padding-right: 20px;


}

.container-img {
    display: flex;
    overflow-x: scroll;
    padding: 0 5px;

}

.container-img::-webkit-scrollbar {
    display: none;
}


.clip {
    clip-path: circle(42% at 50% 50%);
}

.limit {
    max-width: 100px;
    text-align: center;
    margin: 5px;
}

.limit p {
    margin-top: 5px;
}
