

.container-list {
    margin: 0;
    padding: 0;
    width: 100%;

}

.section-list {
    margin: 20px;
}

#contenedor {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    margin: 0;
}


.img-thumbnail {
    border: none;
    background-color: transparent;
    width: 250px;
    height: auto;
}

.img-size {
    width: 100%;
}

#contenedor img {
    height: 100%;
    content: '';
    border-radius: 6px;
}

.img-thumbnail:hover {
    background-color: #ffe300;

}

div#contenedor::-webkit-scrollbar {
    display: none;
}
.prev, .next {
    opacity: 1;
    cursor: pointer;
    position: absolute;
    top: 64%;
    width: auto;
    padding: 20px;
    display: flex;
    margin-top: -44px;
    color: white;
    font-size: 50px;
    border-radius: 0 3px 3px 0;
    height: 350px;
    align-items: center;
    z-index: 30;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}



